PUID=1000
PGID=1000
STATION_NAME=LocalRadio
STATION_ID=localradio
STATION_NUMBER=801
ARTIST_REPEAT_MINUTES=90
SONG_REPEAT_HOURS=12
BITRATE_KBPS=192
SAMPLE_RATE=44100
AUTO_SCAN_ON_START=true
AUTO_START_BROADCAST=true
SCAN_INTERVAL_HOURS=24
MIN_YEAR=0
MAX_YEAR=0
ALLOWED_GENRES=
TZ=America/Chicago
